/* ALL START */
*{
    background-color: white;
    align-items: center;
    box-sizing: border-box;
}

/* ALL END */



/* NAVBAR START */
.navbar-logo {
  width: 150px;
  height: auto;
}
.navbar {
  height: 60px;
  background-color: #ffffff;
  align-items: center;
}
.navbar .nav-link {
  color: rgb(0, 0, 0);
  font-family: "Sunflower", sans-serif;
  font-style: normal;
  font-size: 15px;
  margin-right: 20px;
}
.navbar-nav .nav-link:hover {
  color: #FF5733;
  text-decoration: underline;
}

.navbar-nav {
  margin-top: 0;
}
.navbar-collapse {
  text-align: center;
  z-index: 100;
  font-size: 20px;
  
}

.navbar-nav {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}
.navbar-nav .nav-link {
  color: #ffffff;
}




@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 1rem;
  }

  .navbar-toggler-icon {
    background-image: none;
  }
}

@media (max-width: 767px) {
  .navbar-brand img {
    max-height: 130px;
    margin-bottom: -80px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    width: 100%; 
  }
  

  .navbar-nav .nav-link {
    padding: 0.5rem;
    font-size: 0.9rem;
   
  }
  .navbar-logo {
    margin-top: -120px;
    max-width: 70px;
  }
  .navbar {
    height: 30px;
    
  }
  .nav-link{
    color: black;
  }
}

/* NAVBAR END */



/* HERO START */
.carousel-indicators button {
    background-color: transparent; 
    border: none; 
}

.carousel-indicators .active {
    background-color: transparent; 
}
.edgy {
  color: #FF5733;
  background-color: transparent;
}
.clothing {
  color: #4263D3;
  background-color: transparent;
}

/* HERO END */



/* ABOUT START */

.goal-title {
  font-family: 'Sunflower', sans-serif;
  font-size: 30px;
  color: #FF5733;
  margin-bottom: 1px;
  margin-top: 150px;
}
.goal-title span {
  font-family: 'Sunflower', sans-serif;
  font-size: 30px;
  color: #4263D3;
}

.intro{
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  margin-top: -35px;
}
.about-text {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 360px;
}
.about-section {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
}
.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 150px;
}
#showMoreBtn {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

#showMoreBtn:hover {
  color: #0056b3;
}
.more-text {
  display: none;
}

#showMoreBtn {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

#showMoreBtn:hover {
  color: #0056b3;
}
@media (max-width: 992px) {
  .container-about{
    width: 350px;
    margin-left: 30px;
  }
  .goal-title {
    font-size: 20px;
    margin-top: 40px;
  }
  .goal-title span { 
    font-size: 20px; 
  
  }
  .intro{
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
    margin-top: -20px;
  }
  .about-text {
    margin-top: 10px;
    font-size: 13px;
    color: white;
  }
  .about-section {
    display: flex;
    align-items: center;
    color: white;
  }
  .about-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    
  }
}

@media (max-width: 767px) {
  .navbar-brand img {
    max-height: 130px;
    margin-bottom: -80px;
  }
  .brands-controls {
   gap: -10px;
  }
  

  .brands-controls button {
    font-size: 14px; /* Mengurangi ukuran font tombol pada layar kecil */
    padding: 8px; /* Mengurangi padding tombol pada layar kecil */
  }
  .navbar-nav .nav-link {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .navbar-logo {
    margin-top: -120px;
    max-width: 70px;
  }
  .navbar {
    height: 30px;
  }
  .short-text {
    display: block;
}
.more-text {
    display: none;
}
  

}

/* ABOUT END */



/* BRANDS START */
.brands-title {
  text-align: center;
  font-family: "Staatliches", sans-serif;
  color: #FF5733;
  font-size: 50px;
  margin-top: 200px;
}
.brands-title span {
  color: #4263D3;
}
.brands {
  width: 100%;
}

.brands-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.brands-item {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
}

.brands-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.brands-item-2,
.brands-item-4 {
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}
 
.brands-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.brands-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.brands-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.brands-item-5 {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.brands-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.brands-controls button {
  background-color: rgb(237, 237, 237);
  border: 0;
  cursor: pointer;
  font-size: 20px;
  margin: 0 50px;
  padding: 0 10px;
  text-transform: capitalize;
  border-radius: 20px;
  margin-top: -100px;
}

.brands-controls-button:focus {
  outline: none;
}

.brands-controls-previous {
  border: solid black;
}

.brands-controls-previous::before {
  border: solid black;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.brands-controls-previous:hover::before {
  left: -40px;
}

.brands-controls-next {
  position: relative;
}

.brands-controls-next::before {
  border: solid black;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 25%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}
.brands-controls-next:hover:before {
  right: -40px;
}
.brands-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.brands nav li {
  background: #ffffff;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.brands-nav li.brands-item-selected {
  background: #555;
}
.brands-controls-previous,
.brands-controls-next {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 100px;
}

.brands-controls-previous::before,
.brands-controls-next::before {
  content: '';
  display: inline-block;
  border: solid rgb(0, 0, 0);
  border-width: 0 5px 5px 0;
  padding: 5px;
  transition: all 0.15s ease-in-out;
}

.brands-controls-previous::before {
  position: absolute;
  left: -30px;
  top: 10%;
}

.brands-controls-next::before {
  position: absolute;
  right: -30px;
  top: 50%;
}


@media (max-width: 768px) {
  .brands-container {
    height: 300px;
  }

  .brands-item {
    width: 220px;
    height: 140px;
  }

  .brands-item-2,
  .brands-item-4 {
    width: 260px;
    height: 190px;
  }

  .brands-item-3 {
    width: 310px;
    height: 240px;
  }
  .brands-controls button {
   
  }
  .brands-title {
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: -20px;
  }
  .gallery{
    min-width: 20px;
  }
  
  .gallery gallery-1{
   
  }
}

@media (max-width: 576px) {
  .brands-container {
    height: 200px;
  }

  .brands-item {
    width: 150px;
    height: 100px;
  }

  .brands-item-2,
  .brands-item-4 {
    width: 180px;
    height: 130px;
  }

  .brands-item-3 {
    width: 210px;
    height: 160px;
  }
}
/* BRANDS END */



/* FAQS START */
.faq-card {
  cursor: pointer;
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-family: 'Sunflower', sans-serif;
  max-width: 600px; 
}
.faq-card.visible {
  opacity: 1;
  transform: translateY(0);
}
.faq-card:hover {
  background-color: #f8f9fa;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  text-align: center;
}
.faq-card.active .faq-answer {
  max-height: 150px;
}
.faq-arrow {
  transition: transform 0.3s ease;
}
.faq-card.active .faq-arrow {
  transform: rotate(180deg);
}
.faq-card h5 {
  background-color: transparent;
  font-size: 20px;
}
.faq-answer p {
  font-size: 16px;
}
.faq-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  flex-direction: column; 
  text-align: center;
}
.faq-header img {
  max-height: 125px;
  margin-bottom: 15px; 
}
.faq-header h2 {
  font-family: 'Staatliches', sans-serif;
  margin: 0;
}
.faq-description {
  font-family: 'Sunflower', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  max-width: 600px;
  text-align: center;
  color: #7e7e7e;
}
.orange-text {
  color: #FD5035;
}

.blue-text {
  color: #4263D3;
}

@media (max-width: 768px){
  .faq-description{
    font-size: 12px;
    max-width: 300px;
  }
}

/* FAQS END */

/* MOMEN START */
.moment-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  background-image: url('img/bgoren.png');
  background-size: cover;
  background-position: center;
  padding: 100px; 
  
}

.moment-card {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.moment-card:hover {
  transform: scale(1.05);
}

.moment-card-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.moment-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.moment-card-content {
  font-size: 1rem;
}

.momen-title {
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  font-size: 30px;
  margin-top: 150px;
  margin-bottom: -50px;
}
.moment-card h3{
  font-weight: bold;
}
.moment-card p{
  font-family: 'Sunflower', sans-serif;
}

@media (max-width: 1024px) {
  .moment-card {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .moment-card-container {
    padding: 50px; 
  }

  .moment-card {
    flex: 1 1 100%; 
    margin-bottom: 20px; 
  }
}
/* MOMEN END */


/* FOOTER START */

.footer-custom {
  background-color: #ffffff;
  padding: 40px 0;
}

.footer-custom .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-custom .row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-custom .col-md-3 {
  text-align: center;
  margin-bottom: 20px;
  flex: 0 0 22%; 
}

.footer-custom .col-md-3 p,
.footer-custom .col-md-3 div {
  margin-top: 15px;
}

.footer-custom .icon-container {
  margin: 0 10px;
  display: inline-block;
}

.footer-custom .icon-container i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  color: #000; /* Set icon color to black */
  background-color: #f0f0f0; /* Optional: background color for contrast */
}

.payment div {
  margin-top: 10px;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 20px 0;
  width: 100%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.text-center p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-custom .row {
    flex-direction: column;
    align-items: center;
  }

  .footer-custom .col-md-3 {
    flex: 0 0 100%; /* Full width for each column */
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .footer-custom .icon-container i {
    font-size: 18px;
    padding: 8px;
  }

  .footer-custom .container {
    padding: 0 20px;
  }

  .footer-custom .row {
    flex-direction: column;
    align-items: stretch;
  }

  .footer-custom .col-md-3 {
    margin-bottom: 20px;
  }
}


/* FOOTER END */


/* BULET START */
 .circle-card {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto 20px;
      transition: transform 0.3s ease;
      border: 1px solid #b4b7ba;
      
    }

    .circle-card:hover {
      transform: scale(1.1);
    }

    .circle-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .circle-card:hover img {
      transform: scale(1.2);
    }

    .text-center {
      text-align: center;
    }
    
/* BULET END */



.scroll-to-top {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  width: 50px;
  height: 50px;
  background-color: #FD5035; 
  color: #4263D3; 
  border-radius: 50%; 
  text-align: center;
  line-height: 50px; 
  font-size: 24px; 
  display: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
  cursor: pointer;
  z-index: 1000; 
}

.scroll-to-top:hover {
  background-color: #4263D3; 
  color: #FD5035;
}

.scroll-to-top i {
  font-size: 24px; 
}
